body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.start-screen{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
}
.start-game{
  margin-top: 30rem;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 100px;
}

.main{
  border-style: dotted;
  display: flex;
  width: 100%;
  height: 50rem;
  
}
.right{
  border-style: dotted;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}



.Middle{
  background-color: rgb(0, 0, 0);
  height: 60%;
  width: 100%;
}
p{
  color: white;
  background-color: rgb(87, 72, 101);
  z-index: 1;
}
.bg-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./components/images/store.jpeg');
}
.Store {
  width: 100%;
  height: 100%;
}
.h1-store{
  color: white;
}
.story-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
}





.Bottom{
  background-color: rgb(23, 69, 52);
  height: 40%;
  
}





.Left{
  width: 50%;
  background-color: rgb(67, 67, 158);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card{
  max-width: 540px;
}
.User{
  display: flex;
  width: 90%;
  height: 50%;
  align-items: center;
  flex-direction: column;
}
.Info{
  background-color: rgb(255, 0, 128);
  display: flex;
  width: 90%;
  height: 30%;
}
.Inventory{
    background-color: rgb(229, 255, 0);
    display: flex;
    width: 90%;
    height: 10%;
}
.yugi-card{
  position: fixed;
  margin: auto;
  z-index: 1;
  width: 17rem;
}
.knight-card{
  width: 13rem;
  margin-top: 1rem;
}
.stat-name{
  z-index: 2;
  margin-top: .55rem;

}
.stat-h{
  z-index: 2;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.stat-a{
  z-index: 2;
  font-size: 1.5rem;
}